* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

.top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 30px;
}

.header-text {
    font-weight: bold;
    font-size: 14px;
}

.icon {
    display: flex;
    gap: 5px;
}

.cart, .notify {
    width: 24px;
    height: 24px;
}

.text-container {
    margin-top: 20px;
    margin-left: 20px;
}

h1 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: 300px;
}

.navigation-bar-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navigation-bar-container > div {
    display: flex;
    flex-direction: column;   /* stack vertically */
    align-items: center;      /* center icon & text */
    font-size: 12px;
    font-family: "Prompt", sans-serif;
    color: #333;
}

.navigation-bar-container i {
    font-size: 18px;          /* larger icon */
  }
  
.navigation-bar-container span {
    margin-top: 6px;           /* small gap under the icon */
}