* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

.top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 30px;
}

.header-text {
    font-weight: bold;
    font-size: 14px;
}

.icon {
    display: flex;
    gap: 5px;
}

.cart, .notify {
    width: 24px;
    height: 24px;
}

h1 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: 300px;
}

.notification-detail {
  padding: 20px;
}

.notification-detail h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

.notification-detail p {
  font-size: 14px;
  margin-bottom: 12px;
}

.notification-detail .time {
  font-size: 12px;
  color: gray;
}

.review-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #007bff;
  text-decoration: none;
  margin-top: 8px;
}

.review-link:hover {
  text-decoration: underline;
}

.navigation-bar-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navigation-bar-container > div {
    display: flex;
    flex-direction: column;   /* stack vertically */
    align-items: center;      /* center icon & text */
    font-size: 12px;
    font-family: "Prompt", sans-serif;
    color: black;
}

.navigation-bar-container i {
    font-size: 18px;          /* larger icon */
  }
  
.navigation-bar-container span {
    margin-top: 6px;           /* small gap under the icon */
}