<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/charityalldonations.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <title>Charity All Donation</title>
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">ShareBear</div>
      <nav>
        <ul>
            <li><a href="url_for('logout')"><i class="fas fa-list-alt"></i> Available Donation</a></li>
        </ul>
      </nav>
      <a class="logout-button" href="{{url_for('logout')}}">Logout</a>
    </aside>
    <main class="dashboard">
      <header class="dashboard-header">
        <h1>Manage Listing</h1>
        <div class="search-bar"><input type="text" placeholder="Search" /></div>
      </header>


        <section class="all-donations">
        <h2 class="section-title">Recently Added</h2>
        <div class="card-grid">
            {% for request in requests %}
            <div class="donation-card">
            <img class="donation-image" src="{{ url_for('static', filename='uploads/' ~ request.listing.image_filename) }}" alt="{{ request.listing.name }}" />
            <div class="donation-info">
                <h3 class="donation-title">{{ request.listing.title }}</h3>
                <p class="donation-id">ID Number: {{request.id}}</p>
                <p class="donation-date">Posted: {{ request.created_at }}</p>
                <a href="{{url_for('charity_view_donation',request_id=request.id)}}" class="view-btn">View</a>
            </div>
            </div>
            {% endfor %}
        </div>
        </section>










    </main>
  </div>
  <script src="{{ url_for('static', filename='js/adminreports.js') }}"></script>


</body>
</html>
