<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/charity.css') }}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>ShareBear</title>
</head>
<body>
    <div class="container">
        <div class="illustration">
            <img src="{{ url_for('static', filename='tick.png') }}" alt="Success" />
        </div>

        <div class="message">
        <h1>Donation Send.</h1>
        <p>
            Thank you for being a part of the programme.<br/>
            Let's make a better world with us.
        </p>
        </div>

        <div class="confirm-button">
            <button onclick="window.location.href='/charity'">Browse More</button>
        </div>
  </div>
</div>
</body>
</html>