<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>Login</title>
</head>
<body>
  <div class="background">
    <img src="static/bubbles.png" alt="background" />
  </div>
  <div class="header">
    <h1>Login</h1>
    <p>Good to see you back! ❤</p>
    <form action="{{url_for('login')}}" method="POST">
      <input type="email" id="email" name="email" placeholder="Email" required />
      <div class="button">
        <button type="submit" class="next-btn" >Next</button>
        <button type="button" class="cancel-btn" onclick="window.location.href='/'">Cancel</button>
      </div>
    </form>
  </div>
</body>
</html>
