<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/myprofile.css') }}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>ShareBear</title>
</head>
<body>
    <div class="top-bar-container">
        <div class="leftarrowicon" onclick="history.back()" style="cursor: pointer;">
        <i class="bi bi-arrow-left"></i>
    </div>
        <div class="header-text">My Account</div>
        <div class="icon">
            <div class="cart">
                <i class="bi bi-cart3"></i>
            </div>
        </div>
    </div>

    <div class="title-container">
        <div class="profile">
            <img src="{{ url_for('static', filename='profile.png') }}" alt="Profile" />
            <div class="edit-profile">
                <a href="#">Edit Profile →</a>
            </div>
        </div>
    </div>

    <div class="profile-info-container">
        <h1>Profile Information</h1>
        <p>Hi, USER! Here's where you can keep your profile up to date.</p>

        <div class="info-box"><i class="bi bi-person-fill"></i> {{ user.name }}</div>
        <div class="info-box"><i class="bi bi-envelope-fill"></i> {{ user.email }}</div>
        <div class="info-box"><i class="bi bi-telephone-fill"></i> {{ user.phone }}</div>
        <div class="info-box"><i class="bi bi-geo-alt-fill"></i> {{ user.address }}</div>

        <div class="link-box">
        <span>Order History</span><a href="#">View Orders →</a>
        </div>
        <div class="link-box">
        <span>Wishlist</span><a href="#">Go to Wishlist →</a>
        </div>
        <div class="link-box">
        <span>Logout</span><a href="/" class="logout-link">Logout →</a>
        </div>
    </div>

    <div class="navigation-bar-container">
        <div class="home-icon">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="home-text">Home</span>
        </div>
        <div class="explore-icon">
            <i class="bi bi-search"></i>
            <span class="explore-text">Explore</span>
        </div>
        <div class="order-icon">
            <i class="bi bi-bag-fill"></i>
            <span class="order-text">My Orders</span>
        </div>
        <div class="account-icon" onclick="window.location.href='/myaccount'">
            <i class="bi bi-person-fill"></i>
            <span class="account-text">Account</span>
        </div>
    </div>
</body>
</html>
