<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/sellitem.css') }}">
  
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway:wght@700&display=swap" rel="stylesheet">
  
  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  
  <!-- Country select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  
  <title>ShareBear</title>
</head>
<body>
    <div class="navigation-bar-container">
        <div class="leftarrowicon" onclick="window.location.href='/homepage'" style="cursor: pointer;">
            <i class="bi bi-arrow-left"></i>
        </div>
        <div class="header-text">Item Details Page</div>
        <div class="icon">
            <div class="notify" onclick="window.location.href='/notification'">
                <i class="bi bi-bell"></i>
            </div>
            <div class="cart">
                <i class="bi bi-cart3"></i>
            </div>
        </div>
    </div>
    <div class="text-container">
        <h1>Describe Your Item</h1>
        <p>Complete these details to make your item stand out to buyers.</p>
    </div>
    <div class="form-container">
        <form action="/" method="POST" id="ItemDetailsForm">
          <input type="text" name="itemname" placeholder="Item Title" />
          <select name="category" required>
            <option value="" disabled selected hidden>Category</option>
            <option value="clothing">Clothing</option>
            <option value="electronics">Electronics</option>
            <option value="books">Books</option>
            <option value="furniture">Furniture</option>
          </select>
          <input type="text" name="condition" placeholder="Condition" />
          <textarea name="description" placeholder="Description"></textarea>
          <input type="text" name="brand" placeholder="Brand" />
          <input type="text" name="size" placeholder="Dimensions/Size" />
          <input type="text" name="color" placeholder="Color" />

          <button type="button" class="details-btn" onclick="window.location.href='/sellitem/2'">Next</button>
        </form>
    </div>
</body>
</html>